[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.2.x.cfg
package-name = cirb.blog
package-extras = [test]

extensions = mr.developer
auto-checkout=*
sources = sources
remote = git@github.com:
#remote = git://github.com/

[versions]
collective.js.jqueryui = 1.8.16.9
plone.app.discussion = 2.2.3 #add anonymous_email field

[sources]
collective.wpadmin = git ${buildout:remote}toutpt/collective.wpadmin.git
